*{
  margin: 0px;
  padding:0px;
  box-sizing:border-box;
  Color:white;
  font-family:arial;
  font-family: "Montserrat", sans-serif;
}

/* this is my body */

body{
    background-color:#E3F0FF;
}


/* This is my Heder Section Design css */

.nav-div1{
    height:80px;
    background:#002D40;
    display:flex;
    justify-content:center;
    align-items:center;
}

.nav-div1-logo{
    width:40%;
    display:flex;
    padding-left:80px;
}


.nav-div1-logomain{
    font-size:1.5rem;
    font-weight:bold;
    transition: font-size .1s;
}

.nav-div1-logomain:hover{
    border:2px white solid;
    border-radius:5px;
    Padding:5px;
    font-size:1.6rem;
}

.nav-button-manue{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:60%;
    padding-right:70px;
}

.nav-button{
    background-color:#0288A6;
    width:150px;
    height:45px;
    border:none;
    border-radius:15px;
    transition: border .1s 0s ;
}

.nav-button:hover{
    border:2px white solid;
    border-radius:5px;
    Padding:5px;
}

.nav-link{
    text-decoration:none;
    Margin-right:70px;
    font-size:1.09rem;
    font-weight:600;
    transition: font-size .1s 0s ;
}

.nav-link:hover{
    border:2px white solid;
    border-radius:5px;
    Padding:5px;
    font-size:1.2rem;
}



.nav-button-link{
    text-decoration:none;
    text-decoration:none;
    font-size:1.09rem;
    font-weight:normal;
    transition: font-size .1s 0s ;
}

.nav-button-link:hover{
    font-size:1.2rem;
}

/* This is my Heder Section Design css Closed */



/* This is my main Section (Section-1) Design css started */

.section1{
    height: 700px;
    background-color: #000D13;
    padding: 40px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}

.section1-div1{
    Height:300px;
    width:300px;
    background-image:url(Section1-div1-img.png);
    background-size:cover;
}

.section1-div2-h1{
    font-size:3.5rem;
    font-weight:500;
    text-align: center;

}

.section1-div2-h2{
    font-size:2.5rem;
    font-weight:550;
    text-align: center;
}

.section1-div2-h3{
    font-size:1.5rem;
    font-weight:550;
    text-align: center;
     padding-top:5px;

}

.section1-div3{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    width:400px;
    margin-top:15px;
}

.section1-div3-button{
    background-color:#002D40;
    color:white;
    border: 3px white solid;
    padding: 8px 15px;
    font-size: 1.3rem;
    font-weight:550;
    border-radius:5px;
    text-align: center;
     transition: transform .5s;
}

.section1-div3-button:hover{
    transform: scale(1.05);
}

.section1-div3-button-a{
    text-decoration: none;
}
 .section1-div4{
     padding-top:25px;
 }
       
.section1-div4-button{
    background-color: #0288A6;
    color: white;
    padding: 10px 20px;
    width:400px;
    font-size:1.5rem;
    font-weight:700;
    border:4px double white;
    border-radius: 30px 0px 30px 0px
}


/* This is my main Section (Section-1) Design css closed */


/* This is my main Section (Section-2) Design css started */

.section2{
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   height: 200px;

}
.section2-div1{
       border-bottom: 4px solid #002D40;
       Width: 300px;
       display: flex;
       justify-content:center;
       align-items:flex-end;
       
}

.section2-pera1{
     color:#002D40;
    font-size: 1.8rem;
    font-weight:600;
}

.section2-h2{
     color: #002D40;
      font-size: 2.5rem;
    
}

/* This is my main Section (Section-2) Design css closed */



/* This is my main Section (Section-3) Design css started */


.section3-maindiv{
    display: flex;
    padding: 0px 100px;
    height: 1300px;
    background-color: #E3F0FF;
    flex-wrap:wrap;
    justify-content:space-evenly;
}


.section3-maindiv-div{
    Width:365px;
    height:365px;
    background-image: url(section3-div1-house-image.jpg);
    background-size:cover;
    border: 1px rgb(0, 0, 0) solid;
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-bottom:50px;
}

.section3-maindiv-div::before {
        content: ''; /* Required for pseudo-elements */
        position: absolute;
        top: 500;
        left: 20;
        width: 350px;
        height: 350px;
        background-color: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
        z-index: 1; 
        border-radius: 15px;
    }
.section3-maindiv-div-content {
        position: relative; /* To place it above the ::before overlay */
        z-index: 2; /* Higher than the ::before's z-index */
        color: white; 
        text-align: center;
    }

.section3-maindiv-div-h3{
    color:#ffffff;
    font-size:2rem;
    font-weight:500;
    
}

.section3-maindiv-div-button{
    color:#ffffff;
    font-size:1.5rem;
    border:white solid 3px;
    border-radius:6px;
    margin-top:20px;
    padding: 3px 10px;
    transition: font-size .2s;
}

.section3-maindiv-div-button:hover{
    font-size:1.8rem;
}





/* This is my main Section (Section-3) Design css closed */



/* From here my section 4 started */



.section4-maindiv{
     background-color: #E3F0FF;
     height: 900px;
     padding: 0px 150px;

     /* display:flex;
     flex-direction:column;
     justify-content:center;
     align-items:center; */
} 

.sec3-maindiv-subdiv1{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     padding-top:30px;
     padding-bottom: 30px;
}

.sec3-maindiv-subdiv1-btn{
    background-color: #0080B5;
    color:white;
    font-size: 1.5rem;
    height: 60px;
    width: 400px;
    padding: 5px 20px;
    border: 5px double white;
    border-radius: 30px 0px 30px 0px;
    font-weight:700;
}

.sec3-maindiv-subdiv1-h1{
    font-size:2.5rem;
    font-weight:bold;
    color: #0E1D40;
    padding-top:10px;
}

.sec3-maindiv-subdiv1-pera{
    font-size: 1.5rem;
    font-weight:600;
    color: #0E1D40;
    padding-top:10px;
}


/* Here my sec4-maindiv-subdiv1 style fhinished */



/* Here my sec4-maindiv-subdiv2 style Started */

.sec3-maindiv-subdiv2{
   Display: flex;
   justify-content: space-evenly;
   width: 1200px;
   /* padding: 0px 200px; */

}


.sec3-maindiv-subdiv2-div1{
    Width: 500px;
    height: 600px;
    /* border: solid black 5px; */
    
}

.sec3-maindiv-subdiv2-div1-div1{
    height:400px;
    width:100%;
    background-image: url(residential.jpg);
    background-size: cover;
    border: 2px black solid;
    border-radius: 15px;
    transition: transform .5s;
    box-sizing: border-box;
    margin-bottom:15px;
}

.sec3-maindiv-subdiv2-div1-div1:hover{
    transform: scale(1.05);
}

.sec3-maindiv-subdiv2-div1-div2-h3{
    font-size:1.8rem;
    font-weight:bold;
    color: #0E1D40;
    margin-bottom: 5px;
}

.sec3-maindiv-subdiv2-div1-div2-pera{
    font-size: 1.1rem;
    font-weight: 530;
    color: #0E1D40;
    margin-bottom:10px;
}

.sec3-maindiv-subdiv2-div1-div2-btn{
    width: 100%;
    font-size: 1rem;
    height: 40px;
    border: none;
    border-radius: 6px;
    background-color: #0E1D40;
    color: white;
    font-weight: 600;
    transition: transform .5s;
}

.sec3-maindiv-subdiv2-div1-div2-btn:hover{
    transform: scale(1.05);
}




/* Here my sec4-maindiv-subdiv2 style Fhinished */


/* From here the Section 5 desing Css started */

.sec5-maindiv{
    background-color:#E3F0FF;
    padding: 50px 150px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sec5-maindiv-div1{
    width:400px;
    border-bottom: 3.5px solid #002D40;
}

.sec5-maindiv-div1-h2{
    color: #002D40;
    font-size:2.5rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 5px;
}

.sec5-maindiv-div2{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;

}

.sec5-maindiv-div2-div1{
    width: 500px;
    height: 500px;
    background-image: url(sec5-div1imag.jpg);
    border: none;
    border-radius: 10px;
    transition: transform 0.5s;
}

.sec5-maindiv-div2-div1:hover{
    transform: scale(1.05); border: 3px solid #009BDD;
    
}

.sec5-maindiv-div2-div2{
    width: 500px;
    height: 500px;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}

.sec5-maindiv-div2-div2-h3{
    color: #002D40;
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    border-bottom: #002D40 solid 3.5px;
    padding-bottom: 10px;
}

.sec5-pera{
   
    color:#002D40;
    font-size: 1rem;
    font-weight: 600;
    line-height: 25px;
}


/* From here the Section 5 desing Css Closed */

/* From here the Section  desing Css Started */


.sec6-maindiv{
    width:100%;
    height:500px;   
    display:flex;
    flex-direction: column;
    align-items: center;
}
.sec6-div1{
    height:70px;
    width:70%;
    border-bottom: #002D40 solid 3.5px;
}

.sec6-div1-h2{
    color:#002D40;
    font-size: 2.2rem;
    text-align: center;
}

.sec6-div2{
    display: flex;
    width: 100%;
    padding: 15px;
    padding-top: 25px;
    justify-content: space-between;


}

.sec6-div2-div1{
    width: 30%;
    height: 350px;
    background-image: url(sec5-div1imag.jpg);
    background-size: cover;
}

.sec6-div2-div2{
    width: 69%;
    height: 350px;
    background-image: url(image.jpg);
    background-size: cover;
}


/* From here the Section 6 desing Css Closed */





/* From here the Section 7 desing Css start */


.sec7-maindiv{
    height:800px;
    background-color:#002D40;
    width: 100%;
    display: flex;
    padding: 0px 150px;

}

.sec7-maindiv-div1{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sec7-div1-div2{
    Width: 500px;
    height:100px;
    border:#0080B5 solid 2px;
    border-radius: 10px;
    margin: 20px;
    display:flex;   
}

.sec7-icon{
    width: 25%;
    font-size:3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
}

.sec7-content{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec7-content-pera{
    font-size: 1.3rem;
    font-weight:500;
}

.sec7-content-h3{
    font-size: 1.8rem;
    font-weight: 600;
}


.sec7-maindiv-div2{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.sec7-maindiv-div2-div1{
    height:60px;
    width:90%;
    border-bottom: #ffffff solid 3.5px;
    margin-top: -20px;

}

.sec7-div1-h3{
    text-align: center;
    font-size: 1.8rem;
    font-weight:600;
}


.sec7-maindiv-div2-div2{
    width:100%;
    height: 655px;
    border:#0080B5 solid 2px;
    margin-top: -15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;

}

.Form{
    height: 50px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    color:#000000;
    font-weight: 600;
    padding: 0px 10px;
    margin: 10px 0 15px 0;

}

.Form-textarea{
    height: 150px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    color:#000000;
    font-weight: 600;
    margin: 10px 0 15px 0;

}



label{
    font-size: 1.3rem;
    font-weight: 500;
}


/* From here the Section 7 desing Css Closed */